{% load static %}
 {% load widget_tweaks %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>school online</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Google-Style-Login.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Pretty-Registration-Form.css' %}">
</head>

<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header"><a class="navbar-brand text-primary bg-info navbar-link" href="#">GIRL
            EMPOWERMENT </a>
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-2"><span
                    class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span
                    class="icon-bar"></span></button>
        </div>
        <div class="collapse navbar-collapse" id="navcol-2">
            <ul class="nav navbar-nav">
                <li class="active" role="presentation"><a href="#">Home </a></li>
                <li role="presentation"><a href="#">Library </a></li>
                <li role="presentation"><a href="#">Log Out</a></li>
            </ul>
        </div>
    </div>
</nav>
<p class="text-center text-danger">ARTICLES AND BOOKS</p>
<div>
    <p></p>
</div>
<div></div>

{% csrf_token %}
    <div class="row">
        {% for library in librarydata %}
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    {#            <img src="..." alt="Card image cap">#}
                    <img class="card-img-top" src="{{ library.bookpicture.url }}" height="100%" width="100%"/>

                    <div class="card-body">
                        <h5 class="card-title"> Book Title: <b>{{ library.bookName }}</b></h5>
                        <p class="card-text">Open book below to read.</p>
                        <a href="{{ library.bookfile.url }}">{{ library.bookfile.url }}</a><br>
                    </div>
                    <br>

                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                                            <textarea  class="form-control input-lg" placeholder="Write comment here" rows="2"
                              cols="10" name="comment" required></textarea><br>
                        <input type="hidden" name="userId" value="{{ request.user.id }}">
                        <input type="hidden" name="bookId" value="{{ library.id }}">
{#                    {% render_field  form.comment class="form-control input-lg" placeholder="Write comment here" rows="2" cols="10" required="True" %}#}
{#                    {% render_field  form.userId type="hidden" class="form-control input-lg" placeholder="Write comment here" rows="2" cols="10" name="comment" %}#}
{#                    {% render_field  form.bookId  class="form-control input-lg" placeholder="Write comment here" rows="2" cols="10" name="comment" sytle="display: none;" %}#}
                    <br>
                    <div class="row">
                        <div class="col-md-12 col-sm-offset-5 col-xs-offset-4">
                            <button class="btn btn-info" type="submit">Comment</button>
                        </div>
                    </div>
                    </form>

                </div>
            </div>
        {% endfor %}
    </div>
    <p></p>




<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>